# Folders/wildcards
.vscode/
*.dll
**/*.exe
**/*.log
**/*.zip
/.mixin.out
/.mixin.out/
/backups/
/blueprints/
/config/jei/world/local
/crash-reports/
/data/
/docker/**
/downloads
/dumps/
/ESM/
/immersive_paintings_cache/
/journeymap/
/kubejs/exported
/libraries/
/llibrary/
/local/
/logs/
/mods/
/profilekeys/
/profileImage/
/resourcepacks/
/shaderpacks/
/schematics/
/saves
/saves/
/world_backup/
/world/
config/emendatusenigmatica/default
config/forgeendertech/Biomes/
screenshots/

# Instance Sync and other jars
**/*.jar
!InstanceSync*.jar
**/*.jar.disabled
**/*.jar.meta

# Utilities
options.txt
!automation/**
!config/defaultoptions/options.txt
!packmenu/*.zip
!server_files/**
!server_files/server-guide.txt
!server_files_expert/**
!server_files_expert/server-guide.txt
.curseclient
.github_changelog_generator
.ReAuth.cfg
.vote2020_marker
1.16.5.json
automation/ChangelogGenerator-2.0.0-pre10.jar
automation/ModListCreator-1.1.5.jar
automation/ModListCreator-1.2.0.jar
automation/ModListCreator-1.2.1.jar
automation/secrets.ps1
.sl_password
banned-ips.json
banned-players.json
BotaniaVars.dat
CHANGELOG-GENERATED.md
config/buildinggadgets-client.toml
config/cherishedworlds/favorites.dat
config/mining_helmet-client.toml
config/XaeroWorldMap/
config/xnet-client.toml
crafttweaker.log
ds_private_storage.json
emojiful/cache/*
ESM/Anchors.dat
eula.txt
github_changelog_generator.gemspec
github-changelog-generator.bat
ItemDump.txt
knownkeys.txt
mode.json
ModpackUploader.bat
new.json
old.json
ops.json
patchouli_data.json
realms_persistence.json
reauth.toml
secrets.ps1
server-install.sh
server.properties
servers.dat
servers.dat_old
soundsMuffled.dat
stop-java-detection.txt
TrashSlotSaveState.json
TwitchExportBuilder.exe
usercache.json
usernamecache.json
whitelist.json
XaeroWaypoints/
XaeroWorldMap/
rhino.local.properties

# GDLauncher
config.json
/natives/

# MacOSX
.DS_Store
.DS_Store?

# MultiMC
icon.png

# Random stuff to ignore
biomeidfixer.temp
NewWorldBiomeIdFixer.json
emi.json
/modernfix/
/config/emi.css
!/config/inventoryprofiles.json
/config/inventoryprofilesnext/
/dragon-survival/
